<nav class="navbar">
  <a routerLink="/" class="brand">
    WFM Planner
  </a>
  
  <a routerLink="/">Home</a>

    @if (!isLoggedIn) {

    <a routerLink="/login">
      Login
    </a>

    <a routerLink="/register">
      Register
    </a>

  }

   @if (isAdmin) {

    <a routerLink="/requirements">
    Staffing
    </a>

    <a routerLink="/schedule">
    Schedules
    </a>

    <a routerLink="/agents">
    Agents
    </a>
  }

  @if (isLoggedIn) {

    <a routerLink="/profile">
      Profile
    </a>

    <a
      href="javascript:void(0)"
      (click)="logout()"
    >
      Logout
    </a>

  }
</nav>